*{
margin: 0;
padding: 0;
}
/*inicio*/
#logoinicio{
  position: absolute;
  top: 7%;
  left: 35%;
  filter: brightness(1.1);
  mix-blend-mode: multiply;
}
#fondo{
position: absolute;
  width: 100%;
  height: 100%;
}
#textoencimah2{
  font-size: 30px;
  position: absolute;
  text-align: center;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#textoencimah1{
  font-size: 50px;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-style: oblique;
  text-align: center;
  font-family: monospace, cursive;
}
/*BARRA LATERAL*/
#barralateral {
    position: absolute;
    width: 200px;
    height: 100%;
    background: #D3D3D3;
    left:-200px;
    transition: 500ms linear;
}
#barralateral.active{
    left: 0;
}
#barralateral ul li {
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 15px 10px;
    border-bottom: 1px solid white;
}
#logo {
    width: 150px;
    height: 90px;
}
#barralateral .toggle-btn{
    position: absolute;
    left: 230px;
    top: 20px;
    cursor: pointer;
}
#barralateral .toggle-btn span{
    display: block;
    width: 40px;
    text-align: center;
    font-size:30px;
    border: 1px solid;
}
/*botones de barra lateral*/
.btn1 {
    background: #fff; /* color de fondo */
    font-size: medium;
    color: #000000; /* color de fuente */
    border: 2px solid #4741d7; /* tamaño y color de borde */
    padding: 10px 10px;
    border-radius: 3px; /* redondear bordes */
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
    cursor: pointer;
  }
  .btn1:hover {
    color: #fff;/* color de fuente hover */
  }
  .btn1::after {
    content: "";
    background: #4741d7; /* color de fondo hover */
    position: absolute;
    z-index: -1;
    padding: 16px 20px;
    display: block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transform: scale(0, 0);
    transition: all 0.3s ease;
  }
  .btn1:hover::after {
    transition: all 0.3s ease-out;
    transform: scale(1, 1);
  }

  #tablaDatos{
    position: absolute;
    top: 25%;
    left: 45%;
    transform: translate(-50%, -50%);}
  table {
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 12px;  margin: 45px; width: 480px; text-align: left; border-collapse: collapse; }
  
  th {    
    font-size: 13px;  font-weight: normal;  padding: 8px; background: #b9c9fe;
      border-top: 4px solid #aabcfe;  border-bottom: 1px solid #fff; color: #039; }
  
  td {   
    padding: 8px; background: #e8edff;  border-bottom: 1px solid #fff;
    color: #669;  border-top: 1px solid transparent; }
  
  tr:hover td { 
    background: #d0dafd; color: #339; }